# Compiled class files
*.class

# Maven / Gradle directories
target/
build/

# Logs
*.log
*.out

# Environment variables
.env
*.properties

# IDEs
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
